body{
    background-image: url(/pic/checker.png);
    height: 70%;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button1 button{
    position: relative;
    display: block;
    top: 150px;
    left: 260px;
    font-family: "Roboto", sans-serif;
    outline: 2;
    background: #f2f2f2;
    width: 15%;
    border: 5;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}

.button2 button{
        position: relative;
        display: block;
        top: 150px;
        left: 260px;
        font-family: "Roboto", sans-serif;
        outline: 2;
        background: #f2f2f2;
        width: 15%;
        border: 5;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 20px;
}

.button3 button{
    position: relative;
    display: block;
    top: 150px;
    left: 260px;
    font-family: "Roboto", sans-serif;
    outline: 2;
    background: #f2f2f2;
    width: 15%;
    border: 5;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}

.button4 button{
    position: relative;
    display: block;
    top: -69px;
    left: 510px;
    font-family: "Roboto", sans-serif;
    outline: 2;
    background: #f2f2f2;
    width: 15%;
    border: 5;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}

a{
    color: #258b47;
    font-size: 18px;
}

ul {
   position: relative;
   left:0.5%;
   top:-285;
   list-style-type: none;
   width: 550px;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

li {
   float: left;
   border-right:1px solid #bbb;
}

li:last-child {
   border-right: none;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li a:hover:not(.active) {
   background-color: #111;
}

.active {
   background-color: #258b47;
}
