body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/pic/contact.jpg);
    height: 70%;
    background-size: cover;
    background-position: center;
}
* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #258b47;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    position: relative;
    top:80px;
    left: 10px;
    width: 50%;
    border-radius: 5px;
    background-image: url(/pic/contact2.jpg);
    padding: 20px;
}

a{
    color: #258b47;
    font-size: 18px;
}

ul {
   position: relative;
   left:0.5%;
   top:-590px;
   list-style-type: none;
   width: 235px;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

li {
   float: left;
   border-right:1px solid #bbb;
}

li:last-child {
   border-right: none;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   cursor: pointer;
}

li a:hover:not(.active) {
   background-color: #111;
}

.active {
   background-color: #258b47;
}
