body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/pic/reports.jpg);
    height: 70%;
    background-size: cover;
    background-position: center;
}
* {box-sizing: border-box;}


.container {
    position: relative;
    top:40px;
    left: 10px;
    width: 40%;
    border-radius: 5px;
    background-image: url(/pic/contact2.jpg);
    padding: 20px;
}

a{
    color: #258b47;
    font-size: 18px;
}

ul {
   position: relative;
   left:0.5%;
   top:10px;
   list-style-type: none;
   width: 235px;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

li {
   float: left;
   border-right:1px solid #bbb;
}

li:last-child {
   border-right: none;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   cursor: pointer;
}

li a:hover:not(.active) {
   background-color: #111;
}

.active {
   background-color: #258b47;
}
table {
    width:100%;
    text-align: center;    
  }
table tr:nth-child(even) {
    background-color: #eee;
  }
table tr:nth-child(odd) {
  background-color: #fff;
  }
table th {
   background-color: black;
    color: white;
  }