body{
    background-image: url(/pic/login.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.login1-page{
    width: 360px;
    padding: 20% 0 0;
    margin: auto;
}

.form1{
    position: absolute;
    background-image: url(/pic/play1.png);
    left: 408px;
    top: 165px;
    bottom: 5px;
    z-index: 5;
    border-radius: 50%;
    width: 720px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.login-popup-heading>h4 {
    color: #258b47;
    font-size: 26px;
    line-height: 30px;
}
.new_reg_popup, .new_login_popup {
    border-radius: 5px;
    min-height: 332px;
    width: 400px;
    margin: 0px auto;
}
.loginBtn {
    background: #258b47;
    border: 2px;
    border-radius: 25px;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 38px;
    line-height: 28px;
    margin: 20px auto 5px;
    width: 150px;
    cursor: pointer;
}
a{
     color: #258b47;
     font-size: 18px;
}


ul {
    position: relative;
    left:-145%;
    top:-405px;
    list-style-type: none;
    margin: 22;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #258b47;
}