body{
    background-image: url(/pic/white.jpg);
    height: 70%;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    position: relative;
    left: 1%;
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 22%;
 }
 
 li {
    float: left;
    border-right:1px solid #bbb;
 }
 
 li:last-child {
    border-right: none;
 }
 
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
 
 li a:hover:not(.active) {
    background-color: #111;
 }
 
 .active {
    background-color: #258b47;
 }
.piechart
{
    background-color: #258b47;
}

.ab {
    position: relative;
    left: 150px;
    top: 20px;
    margin-top: 20px;;
    text-align: center;
    padding: 20px;
}
h1{
    position: relative;
    text-align: center;
}
